<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartermovieapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".SmarterMovieApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_logo_adaptive"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmarterMovieApp"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- The API key for Google Maps-based APIs. If missing, please ask Tibi for it and then add in local.properties. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".presentation.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.LocationSearchActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.movies_details.MoviesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.cinema_details.CinemaDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.cinema_map.CinemaMapActivity"
            android:exported="false" />
    </application>

</manifest>